<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending Distribution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #1c1e21;
            color: #ffffff;
        }
        .chart-container {
            color: #ffffff !important;
        }
    </style>
</head>
<body class="bg-dark text-white">
    <div class="container py-5">
        <h1 class="text-center">Spending Distribution</h1>
        <hr class="bg-white">
        <div class="row my-5">
            <div class="col">
                <h3>Spending Distribution by Category</h3>
                <div class="chart-container">
                    {{ spending_distribution | safe }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
